<a href="https://colab.research.google.com/github/Marcelo0479/machinelearn/blob/main/Machine_learning_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing and testing the algorithm with two different training and testing divisions

In [372]:
import pandas as pd

In [373]:
url = "https://gist.githubusercontent.com/guilhermesilveira/e99a526b2e7ccc6c3b70f53db43a87d2/raw/1605fc74aa778066bf2e6695e24d53cf65f2f447/machine-learning-carros-simulacao.csv"

dados = pd.read_csv(url).drop(columns=["Unnamed: 0"], axis=1)

In [374]:
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               18  35085.22134
1   40557.96        1               20  12622.05362
2   89627.50        0               12  11440.79806
3   95276.14        0                3  43167.32682
4  117384.68        1                4  12770.11290

In [375]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
SEED = 158020
np.random.seed(SEED)

In [376]:
x = dados[["preco", "idade_do_modelo", "km_por_ano"]]
y = dados["vendido"]

In [377]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 7500 elementos e testaremos com 2500 elementos

In [378]:
from sklearn.dummy import DummyClassifier

dummy_stratified = DummyClassifier(strategy='stratified')
dummy_stratified.fit(treino_x, treino_y)
acuracia = dummy_stratified.score(teste_x, teste_y) * 100

print("A acurácia do dummy stratified foi de %.2f%%" % acuracia)

A acurácia do dummy stratified foi de 50.96%

In [379]:
from sklearn.tree import DecisionTreeClassifier

modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print ("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 71.92%

# Making cross validation

In [380]:
from sklearn.model_selection import cross_validate

In [381]:
# With 3 cross validadions
model = DecisionTreeClassifier(max_depth= 2)
results = cross_validate(model, x, y, cv = 3)
mean = results['test_score'].mean()
std = results['test_score'].std() 
accuracy_range = (mean - 2 * std, mean + 2 * std)
print(f'{accuracy_range[0]:.2%} - {accuracy_range[1]:.2%}')

74.99% - 76.57%

In [382]:
# With 5 cross validadions
model = DecisionTreeClassifier(max_depth= 2)
results = cross_validate(model, x, y, cv = 5)
mean = results['test_score'].mean()
std = results['test_score'].std() 
accuracy_range = (mean - 2 * std, mean + 2 * std)
print(f'{accuracy_range[0]:.2%} - {accuracy_range[1]:.2%}')

75.21% - 76.35%

# Randomize the cross validation

In [383]:
from sklearn.model_selection import KFold

SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits= 10)

model = DecisionTreeClassifier(max_depth= 2)
results = cross_validate(model, x, y, cv = cv)
mean = results['test_score'].mean()
std = results['test_score'].std() 
accuracy_range = (mean - 2 * std, mean + 2 * std)
print(f'Accuracy mean: {mean:.2%}')
print(f'accuracy range: {accuracy_range[0]:.2%} - {accuracy_range[1]:.2%}')

Accuracy mean: 75.78%
accuracy range: 74.37% - 77.19%

In [384]:
SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits= 10, shuffle= True)

model = DecisionTreeClassifier(max_depth= 2)
results = cross_validate(model, x, y, cv = cv)
mean = results['test_score'].mean()
std = results['test_score'].std() 
accuracy_range = (mean - 2 * std, mean + 2 * std)
print(f'Accuracy mean: {mean:.2%}')
print(f'accuracy range: {accuracy_range[0]:.2%} - {accuracy_range[1]:.2%}')

Accuracy mean: 75.76%
accuracy range: 73.26% - 78.26%

# Simulate a unlucky situation

In [385]:
unlucky_data = dados.sort_values('vendido', ascending=True)
unlucky_x = unlucky_data[["preco", "idade_do_modelo", "km_por_ano"]]
unlucky_y = unlucky_data["vendido"]

In [386]:
SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits= 10)

model = DecisionTreeClassifier(max_depth= 2)
results = cross_validate(model, unlucky_x, unlucky_y, cv = cv)
mean = results['test_score'].mean()
std = results['test_score'].std() 
accuracy_range = (mean - 2 * std, mean + 2 * std)
print(f'Accuracy mean: {mean:.2%}')
print(f'accuracy range: {accuracy_range[0]:.2%} - {accuracy_range[1]:.2%}')

Accuracy mean: 57.84%
accuracy range: 34.29% - 81.39%

In [387]:
SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits= 10, shuffle= True)

model = DecisionTreeClassifier(max_depth= 2)
results = cross_validate(model, unlucky_x, unlucky_y, cv = cv)
mean = results['test_score'].mean()
std = results['test_score'].std() 
accuracy_range = (mean - 2 * std, mean + 2 * std)
print(f'Accuracy mean: {mean:.2%}')
print(f'accuracy range: {accuracy_range[0]:.2%} - {accuracy_range[1]:.2%}')

Accuracy mean: 75.78%
accuracy range: 72.30% - 79.26%

In [388]:
from sklearn.model_selection import StratifiedKFold

In [389]:
SEED = 301
np.random.seed(SEED)

cv = StratifiedKFold(n_splits= 10, shuffle= True)

model = DecisionTreeClassifier(max_depth= 2)
results = cross_validate(model, unlucky_x, unlucky_y, cv = cv)
mean = results['test_score'].mean()
std = results['test_score'].std() 
accuracy_range = (mean - 2 * std, mean + 2 * std)
print(f'Accuracy mean: {mean:.2%}')
print(f'accuracy range: {accuracy_range[0]:.2%} - {accuracy_range[1]:.2%}')

Accuracy mean: 75.78%
accuracy range: 73.55% - 78.01%

# Grouping by an identifing feature

In [390]:
# Creeting and adding a feature to be the identifing feature
np.random.seed(SEED)
dados['model'] = dados.idade_do_modelo + np.random.randint(-2, 3, size=10000)
dados.model = dados.model + abs(dados.model.min()) + 1
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano  model
0   30941.02        1               18  35085.22134     18
1   40557.96        1               20  12622.05362     24
2   89627.50        0               12  11440.79806     14
3   95276.14        0                3  43167.32682      6
4  117384.68        1                4  12770.11290      5

In [391]:
from sklearn.model_selection import GroupKFold

In [392]:
SEED = 301
np.random.seed(SEED)

cv = GroupKFold(n_splits= 10)

model = DecisionTreeClassifier(max_depth= 2)
results = cross_validate(model, unlucky_x, unlucky_y, cv = cv, groups=dados.model)
mean = results['test_score'].mean()
std = results['test_score'].std() 
accuracy_range = (mean - 2 * std, mean + 2 * std)
print(f'Accuracy mean: {mean:.2%}')
print(f'accuracy range: {accuracy_range[0]:.2%} - {accuracy_range[1]:.2%}')

Accuracy mean: 75.78%
accuracy range: 73.67% - 77.90%

# Cross validation with StandardScaler

In [393]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [394]:
SEED = 301
np.random.seed(SEED)

scaler = StandardScaler()
scaler.fit(treino_x)
treino_x_scaled = scaler.transform(treino_x)
teste_x_scaled = scaler.transform(teste_x)
model = SVC()
model.fit(treino_x_scaled, treino_y)
previsoes = model.predict(teste_x_scaled)

acuracia = accuracy_score(teste_y, previsoes) * 100
print ("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 74.40%

In [395]:
from sklearn.pipeline import Pipeline

In [396]:
SEED = 301
np.random.seed(SEED)

scaler = StandardScaler()
model = SVC()
pipeline = Pipeline([('transfomation', scaler), ('estimator', model)])
cv = GroupKFold(n_splits= 10)

results = cross_validate(pipeline, unlucky_x, unlucky_y, cv = cv, groups= dados.model)
mean = results['test_score'].mean()
std = results['test_score'].std() 
accuracy_range = (mean - 2 * std, mean + 2 * std)
print(f'Accuracy mean: {mean:.2%}')
print(f'accuracy range: {accuracy_range[0]:.2%} - {accuracy_range[1]:.2%}')

Accuracy mean: 76.68%
accuracy range: 74.28% - 79.08%

In [397]:
SEED = 301
np.random.seed(SEED)

scaler = StandardScaler()
model = SVC()
pipeline = Pipeline([('transfomation', scaler), ('estimator', model)])
cv = GroupKFold(n_splits= 10)

results = cross_validate(pipeline, x, y, cv = cv, groups= dados.model)
mean = results['test_score'].mean()
std = results['test_score'].std() 
accuracy_range = (mean - 2 * std, mean + 2 * std)
print(f'Accuracy mean: {mean:.2%}')
print(f'accuracy range: {accuracy_range[0]:.2%} - {accuracy_range[1]:.2%}')

Accuracy mean: 76.55%
accuracy range: 73.22% - 79.88%